:root {
  --primary: #47737a;
  --bg: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: 'Poppins', Sans-Serif;
  background-color: var(--bg);
  color: #fff;
  min-height: 5000;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(18, 19, 19, 0.8);
  border-bottom: 1px solid #9aaab9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}
.navbar .navbar-logo span{
  color: var(--primary);
}
.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: var(--primary);
}
.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
  
}
.navbar .navbar-extra a:hover {
  color: var(--primary);
}
#hamburger-menu {
  display: none;
}


.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('../img/backg.jpg');
  scroll-behavior: smooth;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1,1,3,1)8%, rgba(255, 255, 255, 0)25%);
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}
.hero .content h1{
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
  line-height: 1.2;
}
.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.4rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1,1,3,0.5);
}

.about, 
.menu, 
.contact {
  padding: 8rem 7% 1.4rem;
}
.about h2, 
.menu h2, 
.contact h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
.about h2 span, 
.menu h2 span, 
.contact h2 span  {
  color: var(--primary);
}
.about .row {
  display: flex;
}
.about .row .about-img{
  flex: 1 1 45rem;
}
.about .row .about-img img {
  max-width: 1200px;
  width: 100%;
  
}

.about .row .content {
  flex: 1 2 35rem;
  padding: 0 3rem;
}
.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.7rem;
  font-weight: 250;
  line-height: 2;
}

.menu h2,
.contact h2 {
  margin-bottom: 1rem;
}
.menu p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}


 .menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
 }

 .menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;

 }
.menu .row .menu-card img {
 border-radius: 20%;
  width: 80%;
}

.menu .row .menu-card .menu-card-title {
  margin: 1.5 rem auto 0.5rem;
}

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
  flex-wrap: wrap;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}




/* Laptop */
@media(max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/*Tablet*/
@media(max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .img {
    width: 80%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a{
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after{
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after{
    transform: scaleX(0.2);
  }
  .about .row  {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
  
  }
  .about .row .content {
    padding: 0;
  }
  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .content p {
    font-size: 1.2rem;
  }
  .menu p {
    font-size: 2rem;
  }
}

/* Phone */

@media(max-width: 200px) {
  html {
    font-size: 50%;
  }
   
}